[submodule "third-party/opencv"]
	path = third-party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third-party/exiv2"]
	path = third-party/exiv2
	url = https://github.com/Exiv2/exiv2.git
[submodule "third-party/opencv_contrib"]
	path = third-party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
